/*------------------------------------*\
  BANNER
\*------------------------------------*/
.nav-open {
  overflow: hidden;
}
.site-banner {
  @include media-query(palm) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: rem(88);
    padding: rem(20);
    overflow: hidden;
    transition:
      height .25s ease-out,
      background-color .25s ease-out;
  }

  .nav-open & {
    height: 100%;
    background-color: rgba($color-brown-lighter, .95);
    @media only screen and (min-width: 30em) {
      background-color: transparent;
    }
  }
}


/*
 * logo
 */
.logo {
  @extend .cf;
  margin-bottom: rem(18);
  @include media-query(palm) {
    margin-left: rem(-2);
  }

  .touch .nav-open &,
  &:hover {
    .logo-type {
      opacity: 1;
    }
  }
}
.logo-mark {
  float: left;
  width: rem(48);
  height: rem(48);
  background: url(../img/logo-mark.svg) no-repeat center center;
  background-size: 100%;
  text-indent: -9999em;
  opacity: .9;
  @include media-query(lap-and-up) {
    width: rem(60);
    height: rem(60);
  }

  .no-svg & {
    background-image: url(../img/logo-mark.png);
  }
}
.logo-type {
  float: left;
  width: rem(52);
  height: rem(48);
  background: url(../img/logo-type.svg) no-repeat center center;
  background-size: 100%;
  text-indent: -9999em;
  opacity: 0;
  transition: opacity .25s ease-out;
  @include media-query(lap-and-up) {
    width: rem(65);
    height: rem(60);
  }

  .no-svg & {
    background-image: url(../img/logo-type.png);
  }
}


/*
 * nav toggle
 */
.nav-toggle {
  position: fixed;
  top: rem(20);
  right: rem(12);
  width: rem(48);
  height: rem(48);
  padding: 0;
  text-indent: -9999em;
  background-color: transparent;
  border: none;
  @include media-query(lap-and-up) {
    display: none;
  }

  span {
    position: relative;
    display: block;
    width: rem(32);
    height: rem(1);
    margin: 0 auto;
    background-color: $color-text;
    transition: .25s ease-in;

    .nav-open & {
      background-color: transparent;
    }

    &,
    &:before,
    &:after {
      transform: translate3d(0, 0, 0);
    }

    &:before,
    &:after {
      position: absolute;
      z-index: -1;
      display: block;
      width: 100%;
      height: rem(1);
      background-color: $color-text;
      content: " ";
      transition: .25s ease-out;

      .nav-open & {
        top: 0;
      }
    }

    &:before {
      top: -1000%;

      .nav-open & {
        transform: rotate(-45deg);
      }
    }

    &:after {
      bottom: -1000%;

      .nav-open & {
        transform: rotate(45deg);
      }
    }
  }
}
