/*------------------------------------*\
  NAV
\*------------------------------------*/
.nav {
  @extend .cf;
  margin-left: 0;
  list-style: none;
}


/*
 * account nav
 */
.account-nav {
  margin-bottom: rem(4);
  font-size: rem(14);
  font-style: italic;
  line-height: (16/14);

  li {
    float: left;
    margin-left: 1em;

    &:first-child {
      margin-left: 0;
    }
  }

  a { @include link-colors($color-text); }
}


/*
 * global nav
 */
.global-nav {
  @extend %heading-style;
  font-size: rem(21);

  @media only screen and (min-width: 768px) {
    > li {
      float: left;
      margin-left: 1em;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}